extends layout
block indexBody

  div(class="hero_area")
    div(class="hero_social")
      a(href="")
        i(class="fa fa-facebook" aria-hidden="true")
      a(href="")
        i(class="fa fa-twitter" aria-hidden="true")
      a(href="")
        i(class="fa fa-linkedin" aria-hidden="true")
      a(href="")
        i(class="fa fa-instagram" aria-hidden="true")
 
    include navBar.pug
    
    include carrousel.pug
   
    include form.pug

    include watches.pug