header(class="header_section")
    div(class="container-fluid")
        nav(class="navbar navbar-expand-lg custom_nav-container ")
            a(class="navbar-brand" href="index.html")
            span Timups
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span(class="") 
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav")
                    li(class="nav-item active")
                        a(class="nav-link" href="/") Home
                            span(class="sr-only") current 
                    li(class="nav-item")
                        a(class="nav-link" href="watches") Watches 
                    li(class="nav-item")
                        a(class="nav-link" href="about") About 
                    li(class="nav-item")
                        a(class="nav-link" href="contact") Contact Us
            div(class="user_option-box")
                a(href="")
                    i(class="fa fa-user" aria-hidden="true")
                a(href="")
                    i(class="fa fa-cart-plus" aria-hidden="true")
                a(href="")
                    i(class="fa fa-search" aria-hidden="true")