<form class="contact_section chat_credentials">
    <label for="name">Name</label>
    <input type="text" name="message" id="product_name">
    <label for="price">Price</label>
    <input type="number" name="price" id="product_price">
    <label for="tag">Tag</label>
    <input type="text" name="tag" id="product_tag">
    <label for="image">Image URL</label>
    <input type="text" name="image" id="product_image">
    <button type="button" id="btn_send_product">SEND</button>
</form>