<span class="sub_page">
{{> header}}

  <!-- contact section -->
  <section class="mb-5 d-flex justify-content-center">
    <div class="chat_wrapper">
      <div class="chat_fields">
        <form class="contact_section chat_credentials">
          <label for="email">Email address</label>
          <input type="email" name="email" id="user_email">
          <label for="name">Name</label>
          <input type="text" name="name" id="user_name">
          <label for="surname">Surname</label>
          <input type="text" name="surname" id="user_surname">
          <label for="age">Age</label>
          <input type="text" name="age" id="user_age">
          <label for="alias">Nickname</label>
          <input type="text" name="nick" id="user_nickname">
          <label for="avatar">Avatar</label>
          <input type="text" name="avatar" id="user_avatar">
          <label for="message">Message</label>
          <input type="text" name="message" id="user_message"> 
          <button type="button" id="btn_send">SEND</button>
        </form>
      </div>
      <div>
        <h1>Client chat</h1>
        <h3>Exchange a few words with other clients</h3>
        <div id="chat_messages_wrapper">
          <ul id="messages_list">

          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- end contact section -->
{{> footer}}
{{> scripts}}
</span>